<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand-lg">

	<!-- hamburger (visible on mobile -->
	<button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle Navigation">
		<span class="navbar-toggle-icon">
			<span class="toggle-line"></span>
		</span>
	</button>

	<!-- logo (TODO: replace!) -->
	<a class="navbar-brand me-1 me-sm-3" href="../index.html">
		<div class="d-flex align-items-center">
			<%= image_tag "icons/spot-illustrations/falcon.png", alt: "", width: 40 %>
			<span class="font-sans-serif text-primary"><%= content_for(:appname) || "falcon" %></span>
		</div>
	</a>

	<!-- left-side dropdown navigation -->
	<div class="collapse navbar-collapse scrollbar" id="navbarStandard">
		<ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="events">
					Events
				</a>
				<div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
					<div class="bg-white dark__bg-1000 rounded-3 py-2">
					</div>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="sports">
					Sports
				</a>
				<div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="sports">
					<div class="bg-white dark__bg-1000 rounded-3 py-2">
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[NCAAF]</span> NCAA FBS Football
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[NCAAMBB]</span> NCAA Men's Basketball
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[NCAAWBB]</span> NCAA Women's Basketball
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[NFL]</span> National Football League
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[NBA]</span> National Basketball Association
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							<span class="fw-bold">[WNBA]</span> Women's National Basketball Association
						</a>
					</div>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="control">
					Control Panel
				</a>
				<div class="dropdown-menu dropdown-caret dropdown-menu-card border-0 mt-0" aria-labelledby="control">
					<div class="bg-white dark__bg-1000 rounded-3 py-2">
						<a class="dropdown-item link-600 fw-medium" href="#">
							Events
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							Players
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							Sports
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							Leagues
						</a>
						<a class="dropdown-item link-600 fw-medium" href="#">
							Teams
						</a>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
		<li class="nav-item dropdown"><a class="nav-link pe-0 ps-2" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<div class="avatar avatar-xl">
					<%= image_tag "team/3-thumb.png", class: "rounded-circle", alt: "" %>
				</div>
			</a>
			<div class="dropdown-menu dropdown-caret dropdown-caret dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
				<div class="bg-white dark__bg-1000 rounded-2 py-2">
					<a class="dropdown-item fw-bold text-warning" href="#!"><span class="fas fa-crown me-1"></span><span>Go Pro</span></a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#!">Set status</a>
					<a class="dropdown-item" href="#!">Profile &amp; account</a>
					<a class="dropdown-item" href="#!">Feedback</a>

					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#!">Settings</a>
					<%= button_to "Logout", session_path, method: :delete, class: "dropdown-item" %>
				</div>
			</div>
		</li>
	</ul>

</nav>