	<footer class="footer">
		<div class="row g-0 justify-content-between fs-10 mt-4 mb-3">
			<div class="col-12 col-sm-auto text-center">
				<p class="mb-0 text-600">Squarehub<br class="d-sm-none" /> &copy; 2024</p>
			</div>
			<div class="col-12 col-sm-auto text-center">
				<p class="mb-0 text-600">v2.0.7b</p>
			</div>
		</div>
	</footer>
